body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecera {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Cuatro imágenes por fila */
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
}

.nose {
    margin: 10px;
    text-align: center;
}

.nose img {
    width: 200px;
    /* Tamaño uniforme para todas las imágenes */
    height: auto;
}

/* Cambiar el tipo de letra de la cabecera */
.cabecera h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin: 0;
}

.precio {
    font-weight: bold;
    margin-top: 10px;
}